@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  width: 100vw;
  height: 100%;
  background-color: orange;
  display: flex;
  font-family: "Roboto";
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
}

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  background-color: #222;
  width: 20%;
  color: white;
}
.sidebar h1 {
  font-family: "Anton";
  font-size: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.sidebar-list {
  margin-top: 10rem;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.sidebar-list li {
  width: calc(100% - 4rem);
  background-color: #444;
  padding: 2rem 2rem;
  cursor: pointer;
}
.sidebar-list li:hover {
  background-color: #1a1a1a;
}
.sidebar footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid orange;
  padding: 2rem 0rem;
  gap: 1rem;
  align-items: center;
}
.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.2s;
}
.sidebar a:hover {
  color: orange;
}
.main-page {
  margin-left: 25%;
}
.main-page h1 {
  font-family: "Anton";
  font-size: 4rem;
}
.main-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
  height: auto;
  padding-bottom: 3rem;
}
.main-page span {
  font-weight: bold;
  font-size: 1.1rem;
}
