@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Roboto";
}

.error-message {
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.error-message i {
  color: var(--main-color);
  font-size: 5rem;
}

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --secondary-color: gray;
  --main-color: orange;
}

#site {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.info-container {
  position: relative;
  width: 50%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: white;
  display: flex;
}

.main-photo {
  height: 96.9rem;
  width: 50%;
  object-fit: cover;
}
.info-container:after {
  content: "";
  z-index: 5;
  width: 100%;
  height: 300%;
  transform: rotate(20deg);
  right: -5rem;
  top: -40rem;
  position: absolute;
  background-color: white;
  box-shadow: 100px -100px 50px 0px rgba(255, 255, 255, 1);
}

.info {
  z-index: 10;
  width: 50%;
  height: 100%;
  font-size: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info a {
  color: black;
  text-decoration: none;
}

.info h1 {
  font-family: "Anton";
  font-size: 6rem;
}

.info h1 span {
  font-size: 1rem;
  font-family: "Roboto";
  opacity: 0.5;
}
.bigger-text {
  text-align: center;
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.smaller-text {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 2rem;
  width: 100%;
  font-size: 2rem;
  text-align: center;

  text-shadow: 5px 5px 10px rgba(0, 0, 0 1);
}

.info button {
  font-size: 2rem;
  font-weight: bold;
  background-color: transparent;
  padding: 1rem 3rem;
  height: 5rem;
  width: 20rem;
  border: 1px solid var(--secondary-color);
  margin-top: 2rem;
  cursor: pointer;
  background-image: url(./design.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.5s;
}
.info a {
  transition: all 0.5s;
}

.info button:hover {
  background-image: url(./designdark.png);
  border: 2px solid var(--secondary-color);
  color: white;
  & a {
    color: white;
  }
}

.buttons {
  display: flex;
  gap: 5rem;
}

.second-page {
  width: 100%;
  height: 50rem;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.second-page:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  background-color: white;
  right: -100rem;
}

.icon {
  width: 2.5rem;
}
nav {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2rem;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: end;

  height: 5rem;
  overflow: hidden;
}
.nav-buttons {
  font-family: "Anton";
  font-size: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 100%;
}
.nav-buttons li {
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  transform: rotate(-80deg);
  height: 200%;
  transition: all 0.5s;
}

.nav-buttons li a {
  text-decoration: none;
  color: black;
  transform: rotate(80deg);
}

.nav-buttons li:hover {
  cursor: pointer;
  background-color: var(--main-color);
}

.second-page h1 {
  font-family: "Anton";
  font-size: 5rem;
  color: white;
  z-index: 2000;
}

.second-page p {
  position: relative;
  font-size: 2rem;
  padding: 2rem 5rem;
  background-color: white;
  width: 50%;
  text-align: center;
  min-height: 10rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-joke:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 10rem;
  height: 10rem;
  top: -5rem;
  left: -5rem;
  transform: rotate(45deg);
}

.random-joke:before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 10rem;
  height: 10rem;
  bottom: -5rem;
  right: -5rem;
  transform: rotate(45deg);
}

.generate {
  background-color: orange;
  width: 25rem;
  height: 7rem;
  padding: 2rem 5rem;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 2000;
}
.generate:focus {
  outline: none;
}
.generate:hover {
  background-color: black;
  color: orange;
}

.image-page {
  position: relative;
  width: 100%;
  height: 50rem;
  background-position: center;
  background-size: cover;
  background-image: url("wallpaper.png");
  background-attachment: fixed;
  overflow: hidden;
}

.image-page:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 10rem;
  height: 10rem;
  top: -5rem;
  left: -5rem;
  transform: rotate(45deg);
}

.image-page:before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 10rem;
  height: 10rem;
  bottom: -5rem;
  right: -5rem;
  transform: rotate(45deg);
}

.third-page {
  position: relative;
  width: 100%;
  height: 80rem;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  letter-spacing: 0.2em;
}
.third-page h1 {
  position: relative;
  padding: 5rem 0rem;
  font-family: "Anton";
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-page h1:before {
  content: "";
  background-color: cyan;
  transform: rotate(30deg);
  height: 5rem;
  width: 0.5rem;
  top: 2.1rem;
  position: absolute;
  right: 3rem;
}
.third-page h1:after {
  content: "";
  background-color: cyan;
  transform: rotate(30deg);
  height: 5rem;
  width: 0.5rem;
  position: absolute;
  bottom: 1.5rem;
  left: 4rem;
}

.third-page h2 {
  font-size: 3rem;
  margin: 2rem;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.about-text {
  font-size: 1.5rem;
  width: 30%;
  letter-spacing: 0.1em;
  text-align: center;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn-more {
  margin-top: 2rem;
  background-color: orange;
  width: 20rem;
  height: 4rem;
  padding: 2rem 5rem;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  color: black;
}
a {
  color: inherit;
  text-decoration: none;
}
.learn-more:focus {
  outline: none;
}
.learn-more:hover {
  background-color: black;
  color: orange;
}

.fourth-page {
  position: relative;
  width: 100%;
  height: 100rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 7%;
}

.fourth-page h1 {
  position: relative;
  padding: 5rem 0rem;
  font-family: "Anton";
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.fourth-page h1:before {
  content: "";
  background-color: #ff7d92;
  height: 0.5rem;
  width: 10rem;
  top: 5rem;
  position: absolute;
  right: 3rem;
}
.fourth-page h1:after {
  content: "";
  background-color: rgb(255, 125, 146);
  height: 0.5rem;
  width: 10rem;
  position: absolute;
  bottom: 5rem;
  left: 4rem;
}
.submit-container {
  flex: 0;
}
.pages {
  position: absolute;
  color: gray;
  left: 90rem;
  font-size: 2rem;
}
.pages span {
  font-size: 1.5rem;
}
.pagination {
  position: absolute;
  width: 192rem;
  bottom: -7%;
  height: 3rem;
  display: flex;
  align-items: center;
}
.pagination button {
  border: none;
  width: 10rem;
  height: 3rem;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}
.pagination button:hover {
  background-color: black;
  color: white;
}
.go-left {
  position: absolute;
  left: 40rem;
}
.go-right {
  position: absolute;
  right: 40rem;
}
.category-button {
  font-family: "Anton";
  position: absolute;
  border: 3px solid var(--main-color);
  width: 20rem;
  height: 7rem;
  right: 5rem;
  top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
}
.category-button:hover {
  background-color: rgba(255, 165, 0, 0.2);
}
.category:first-child {
  border-top: 1px solid var(--main-color);
}
.category-container {
  position: absolute;
  bottom: -64.3rem;
  display: flex;
  flex-direction: column;
  width: 40rem;
  justify-content: space-evenly;
  align-items: center;
}
.hidden {
  display: none;
}

.category-container button {
  height: 4rem;
  width: 15rem;
  background-color: transparent;
  border: 1px solid #222;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 9999;
  background-color: white;
}
.category-container button:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  position: relative;
  height: 1rem;
  padding: 2rem;
  font-size: 1.5rem;
  border: 1px solid black;
  border-right: none;
  z-index: 8000;
}
form input:focus {
  outline: none;
}
form button {
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 0.5rem;
  height: 5.2rem;
  padding: 2rem;
  background-color: var(--main-color);
  border: 1px solid black;
  border-left: none;
  cursor: pointer;
}

form button::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 3rem;
  height: 3rem;
  top: -1.6rem;
  right: -1.55rem;
  border-bottom: 1px solid black;
  transform: rotate(45deg);
}
.joke-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 9;
}
.information {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  width: 192rem;
  display: flex;
  justify-content: center;
}
.show-joke {
  position: relative;
  background-color: var(--main-color);
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.joke {
  position: relative;
  background-color: white;
  height: 21rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
}
.card {
  position: relative;
  height: 20rem;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  width: 50rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2rem;
  padding: 2rem;
  overflow: hidden;
}
.card p {
  z-index: 2000;
  text-align: center;
  font-weight: bold;
}
.card:after {
  content: "";
  height: 40rem;
  width: 10rem;
  background-color: white;
  position: absolute;
  top: 0px;
  right: 5rem;
  transform: rotate(45deg);
}
.card:before {
  content: "";
  height: 45rem;
  width: 1rem;
  background-color: white;
  position: absolute;
  top: -10rem;
  right: 11rem;
  transform: rotate(45deg);
}
.card-container {
  position: relative;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.joke:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 5rem;
  height: 5rem;
  top: -3rem;
  left: -2.5rem;
  transform: rotate(45deg);
}

.joke:before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 5rem;
  height: 5rem;
  bottom: -2.6rem;
  right: -3rem;
  transform: rotate(45deg);
}

.show-joke:after {
  content: "";
  position: absolute;
  background-color: white;
  width: 10rem;
  height: 10rem;
  top: -5rem;
  left: -6rem;
  transform: rotate(45deg);
  z-index: 1000;
}

.show-joke:before {
  content: "";
  position: absolute;
  background-color: white;
  width: 10rem;
  height: 10rem;
  bottom: -5rem;
  right: -5rem;
  transform: rotate(45deg);
  z-index: 1000;
}
.category-show {
  position: absolute;
  bottom: 0.3rem;
  font-size: 1.5rem;
}

.fifth-page {
  padding: 5rem 0rem;
  height: 80rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #222;
  color: white;
  letter-spacing: 0.2em;
}

.fifth-page h1 {
  position: relative;
  padding: 5rem 0rem;
  font-family: "Anton";
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fifth-page h1:before {
  content: "";
  background-color: var(--main-color);
  transform: rotate(90deg);
  height: 5rem;
  width: 0.5rem;
  position: absolute;
  right: -4rem;
}
.fifth-page h1:after {
  content: "";
  background-color: var(--main-color);
  transform: rotate(90deg);
  height: 5rem;
  width: 0.5rem;
  position: absolute;
  left: -4rem;
}

.contact-types {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
}
.contact-types p {
  text-decoration: underline;
  text-decoration-color: var(--main-color);
}
.text-area {
  max-width: calc(100% - 4rem);
  min-width: calc(100% - 4rem);
  height: 20rem;
  max-height: 20rem;
  min-height: 20rem;
  color: white;
  font-size: 2rem;
  padding: 2rem;
  overflow: hidden;
  border: 1px solid var(--main-color);
  background-color: transparent;
}
.text-area:focus {
  outline: none;
}
.contact-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text-container input {
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
  width: 45%;
  background-color: transparent;
  border: 1px solid var(--main-color);
}
.text-container input:focus {
  outline: none;
}
.main-contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.submit {
  padding: 2rem 5rem;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid var(--main-color);
}
.submit:hover {
  background-color: #222;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
footer {
  height: 6rem;
  font-size: 1.5rem;
  background-color: var(--main-color);
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column-reverse;
  padding: 2rem 0rem;
  justify-content: space-between;
}
.information-container {
  display: flex;
  gap: 2rem;
}
.information-container a {
  color: black;
  transform: all 0.2s;
}
.information-container a:hover {
  text-decoration: underline;
}

footer i {
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 2rem;
}
footer i:hover {
  color: black;
}

.load-icon {
  width: 3rem;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 1650px) {
  .about-text {
    width: 40%;
  }
}
@media screen and (max-width: 1536px) {
  .main {
    height: 100svh;
  }
  .main h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1366px) {
  .second-page::after {
    display: none;
  }
  .main {
    height: 100svh;
  }
  .info h1 {
    font-size: 5rem;
  }
  .info h1 span {
    display: none;
  }
  .card {
    width: 25%;
    height: 20rem;
  }

  .fifth-page {
    height: 80svh;
  }
}
@media screen and (max-width: 1280px) {
  .about-text {
    width: 120%;
  }
  .about-text {
    width: 50%;
  }
  .third-page h2 {
    display: none;
  }
  .go-right {
    right: 60rem;
  }
  .go-left {
    left: 60rem;
  }
}
@media screen and (max-width: 1080px) {
  .main-photo {
    display: none;
  }
  .bigger-text {
    width: 150%;
  }
  .smaller-text {
    width: 153%;
  }
  .info h1 {
    text-align: center;
    width: 300%;
  }
}
@media screen and (max-width: 850px) {
  .bigger-text {
    width: 150%;
  }
  .third-page {
    height: 100svh;
  }
  .smaller-text {
    width: 200%;
  }
  .contact-types {
    flex-direction: column;
    text-align: center;
  }
  .about-container {
    gap: 1.5rem;
  }

  .contact-types p {
    text-decoration: none;
  }
}
@media screen and (max-width: 790px) {
  .show-joke {
    margin-top: 3rem;
  }
  .third-page {
    height: 30svh;
  }
  .about-text {
    display: none;
  }
  .fourth-page h1 {
    padding-top: 15rem;
  }
  .fourth-page h1:before {
    top: 15rem;
  }
  .category-button {
    left: 35%;
  }
  .go-right {
    right: 95rem;
  }
  .go-left {
    left: 95rem;
  }
  .card p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 750px) {
  nav {
    display: none;
  }
  .bigger-text {
    width: 250%;
  }
  .smaller-text {
    width: 250%;
  }
  .buttons {
    display: none;
  }
  .card-container {
    height: auto;
    margin-top: 1rem;
  }
  .card {
    width: 80%;
  }
  .fourth-page {
    height: auto;
  }
  .pagination {
    bottom: -3rem;
  }
  .go-right {
    right: 75rem;
  }
  .go-left {
    left: 75rem;
  }
}

@media screen and (max-width: 414px) {
  .main {
    height: 100svh;
  }
  .information {
    width: 70vw;
    text-align: center;
  }
  .info-container::after {
    display: none;
  }

  .info-container {
    width: 80vw;
  }
  .bigger-text {
    width: 200%;
  }
  .smaller-text {
    width: 200%;
  }
  .info {
    width: 50%;
  }
  .main h1 {
    font-size: 5rem;
  }
  .main h1 span {
    display: none;
  }
  .bigger-text,
  .smaller-text {
    font-size: 1.8rem;
  }
  .second-page,
  .image-page {
    height: 50svh;
  }

  .third-page h2 {
    display: none;
  }
  .third-page h1::before {
    height: 2rem;
    top: 5rem;
    right: 4.3rem;
  }
  .third-page h1::after {
    height: 2rem;
    left: 4.5rem;
    bottom: -0.5rem;
  }
  .buttons {
    display: none;
  }
  .main-photo {
    display: none;
  }

  .about-container {
    gap: 0.5rem;
  }
  .third-page h1 {
    padding-bottom: 0px;
  }
  .fourth-page {
    padding-bottom: 10rem;
  }

  .category-button {
    left: 10rem;
    z-index: 8001;
  }
  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 2rem;
    margin-bottom: 3rem;
  }
  .go-right {
    right: 78rem;
  }
  .go-left {
    left: 78rem;
  }
  .pagination {
    bottom: -5rem;
  }
  nav {
    display: none;
  }
  .card {
    width: 80%;
  }
  .card-container {
    height: auto;
    margin: 1rem 0rem;
  }
  .fourth-page {
    height: auto;
  }
  .info {
    font-size: 0.5rem;
  }
  .contact-types {
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
  }
  .contact-types p {
    text-decoration: none;
  }
  .text-container {
    flex-direction: column;
  }
  .text-container input {
    width: 80%;
  }
  .fifth-page {
    height: 100svh;
    padding: 0px;
  }
}

@media screen and (max-width: 350px) {
  .info h1 {
    font-size: 4.5rem;
  }

  .category-button {
    left: 6rem;
  }
  .go-left {
    left: 80rem;
  }
  .go-right {
    right: 80rem;
  }
  .pages,
  .page span {
    font-size: 1.5rem;
  }
  .pages {
    left: 92rem;
  }
}
