@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --color-1: gray;
  --color-2: orange;
}

body {
  position: relative;
  font-family: "Roboto";
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  width: 192rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.info-container {
  position: relative;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.main-photo {
  height: 96.9rem;
  width: 100rem;
  object-fit: cover;
}
.info-container:after {
  content: "";
  z-index: 5;
  width: 50rem;
  height: 150%;
  transform: rotate(30deg);
  position: absolute;
  right: -20rem;
  background-color: white;
  box-shadow: 100px -100px 100px 0px rgba(255, 255, 255, 1);
}

.info {
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  height: 40rem;
  font-size: 2rem;
}
.info a {
  color: black;
  text-decoration: none;
}

.info h1 {
  font-family: "Anton";
  font-size: 7rem;
  margin-top: -20rem;
}

.info h1 span {
  font-size: 1.5rem;
  font-family: "Roboto";
  opacity: 0.5;
}
.bigger-text {
  text-align: center;
  font-size: 1.8rem;
  color: var(--color-1);
}

.smaller-text {
  background-color: var(--color-2);
  color: white;
  font-weight: bold;
  padding: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0 1);
}

.info button {
  font-size: 2rem;
  font-weight: bold;
  background-color: transparent;
  padding: 1rem 3rem;
  height: 5rem;
  width: 20rem;
  border: 1px solid var(--color-1);
  margin-top: 2rem;
  cursor: pointer;
  background-image: url(../design.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.5s;
}
.info a {
  transition: all 0.5s;
}

.info button:hover {
  background-image: url(./designdark.png);
  border: 2px solid var(--color-1);
  color: white;
  & a {
    color: white;
  }
}

.buttons {
  display: flex;
  gap: 5rem;
}

.second-page {
  width: 192rem;
  height: 50rem;
  background-color: var(--color-2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.second-page:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  background-color: white;
  right: -100rem;
}

.icon {
  width: 2.5rem;
}
nav {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  width: 192rem;
  height: 2rem;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0rem 2rem;
  height: 5rem;
  overflow: hidden;
}
.nav-buttons {
  font-family: "Anton";
  font-size: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 100%;
}
.nav-buttons li {
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  transform: rotate(-80deg);
  height: 200%;
  transition: all 0.5s;
}

.nav-buttons li a {
  text-decoration: none;
  color: black;
  transform: rotate(80deg);
}

.nav-buttons li:hover {
  cursor: pointer;
  background-color: var(--color-2);
}

.second-page h1 {
  font-family: "Anton";
  font-size: 5rem;
  color: white;
}

.second-page p {
  position: relative;
  font-size: 3rem;
  padding: 2rem 5rem;
  background-color: white;
  width: 50%;
  text-align: center;
  min-height: 10rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-joke:after {
  content: "";
  position: absolute;
  background-color: var(--color-2);
  width: 10rem;
  height: 10rem;
  top: -5rem;
  left: -5rem;
  transform: rotate(45deg);
}

.random-joke:before {
  content: "";
  position: absolute;
  background-color: var(--color-2);
  width: 10rem;
  height: 10rem;
  bottom: -5rem;
  right: -5rem;
  transform: rotate(45deg);
}

.generate {
  background-color: orange;
  width: 25rem;
  height: 7rem;
  padding: 2rem 5rem;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s;
}
.generate:focus {
  outline: none;
}
.generate:hover {
  background-color: black;
  color: orange;
}

.image-page {
  position: relative;
  width: 192rem;
  height: 50rem;
  background-position: center;
  background-size: cover;
  background-image: url("wallpaper.png");
  background-attachment: fixed;
  overflow: hidden;
}

.image-page:after {
  content: "";
  position: absolute;
  background-color: var(--color-2);
  width: 10rem;
  height: 10rem;
  top: -5rem;
  left: -5rem;
  transform: rotate(45deg);
}

.image-page:before {
  content: "";
  position: absolute;
  background-color: var(--color-2);
  width: 10rem;
  height: 10rem;
  bottom: -5rem;
  right: -5rem;
  transform: rotate(45deg);
}

.third-page {
  position: relative;
  width: 192rem;
  height: 80rem;
  background-color: var(--color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  letter-spacing: 0.2em;
}
.third-page h1 {
  position: relative;
  padding: 5rem 0rem;
  font-family: "Anton";
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-page h1:before {
  content: "";
  background-color: cyan;
  transform: rotate(30deg);
  height: 5rem;
  width: 0.5rem;
  top: 2.1rem;
  position: absolute;
  right: 3rem;
}
.third-page h1:after {
  content: "";
  background-color: cyan;
  transform: rotate(30deg);
  height: 5rem;
  width: 0.5rem;
  position: absolute;
  bottom: 1.5rem;
  left: 4rem;
}

.third-page h2 {
  font-size: 3rem;
  margin: 2rem;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.about-text {
  font-size: 1.5rem;
  width: 30%;
  letter-spacing: 0.1em;
  text-align: center;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth-page {
  position: relative;
  width: 192rem;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.fourth-page h1 {
  position: relative;
  padding: 5rem 0rem;
  font-family: "Anton";
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourth-page h1:before {
  content: "";
  background-color: #ff7d92;
  height: 0.5rem;
  width: 10rem;
  top: 5rem;
  position: absolute;
  right: 3rem;
}
.fourth-page h1:after {
  content: "";
  background-color: rgb(255, 125, 146);
  height: 0.5rem;
  width: 10rem;
  position: absolute;
  bottom: 5rem;
  left: 4rem;
}
.submit-container {
  margin-top: -20rem;
}
.category-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150rem;
  transform: skew(-45deg);
}
.category-container button {
  height: 4rem;
  width: 100%;
  background-color: transparent;
  border: 1px solid #222;
  cursor: pointer;
  transition: all 0.2s;
}
.category-container button:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}
.category-container p {
  transform: skew(45deg);
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
form input {
  position: relative;
  height: 1rem;
  font-size: 1.5rem;
  padding: 2rem;
  border: 1px solid black;
  border-right: none;
}
form input:focus {
  outline: none;
}
form button {
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 0.5rem;
  height: 5.2rem;
  padding: 2rem;
  background-color: var(--color-2);
  border: 1px solid black;
  border-left: none;
  cursor: pointer;
}

form button::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 3rem;
  height: 3rem;
  top: -1.6rem;
  right: -1.55rem;
  border-bottom: 1px solid black;
  transform: rotate(45deg);
}
.joke-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}
.information {
  font-size: 2rem;
  position: absolute;
  top: -3rem;
}
.show-joke {
  background-color: var(--color-2);
  height: 30rem;
  width: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.joke {
  position: relative;
  background-color: white;
  height: 21rem;
  width: 105rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
}
.card {
  position: relative;
  height: 20rem;
  background-color: var(--color-2);
  border: 1px solid var(--color-2);
  width: 50rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2rem;
  padding: 2rem;
}
.card p {
  z-index: 2000;
  text-align: center;
}
.card:after {
  content: "";
  height: 40rem;
  width: 10rem;
  background-color: white;
  position: absolute;
  top: 0px;
  right: 5rem;
  transform: rotate(45deg);
}
.card:before {
  content: "";
  height: 45rem;
  width: 1rem;
  background-color: white;
  position: absolute;
  top: -10rem;
  right: 11rem;
  transform: rotate(45deg);
}
.card-container {
  position: relative;
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: -20rem;
  margin-bottom: 5rem;
}

.joke:after {
  content: "";
  position: absolute;
  background-color: var(--color-2);
  width: 5rem;
  height: 5rem;
  top: -2.5rem;
  left: -4rem;
  transform: rotate(45deg);
}

.joke:before {
  content: "";
  position: absolute;
  background-color: var(--color-2);
  width: 5rem;
  height: 5rem;
  bottom: -2.5rem;
  right: -3rem;
  transform: rotate(45deg);
}

.show-joke:after {
  content: "";
  position: absolute;
  background-color: white;
  width: 10rem;
  height: 10rem;
  top: -5rem;
  left: -6rem;
  transform: rotate(45deg);
  z-index: 1000;
}

.show-joke:before {
  content: "";
  position: absolute;
  background-color: white;
  width: 10rem;
  height: 10rem;
  bottom: -5rem;
  right: -5rem;
  transform: rotate(45deg);
  z-index: 1000;
}
.category-show {
  position: absolute;
  bottom: 0.3rem;
  font-size: 1.5rem;
}

.fifth-page {
  padding: 5rem 0rem;
  height: 76.9rem;
  width: 192rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #222;
  color: white;
  letter-spacing: 0.2em;
}

.fifth-page h1 {
  position: relative;
  padding: 5rem 0rem;
  font-family: "Anton";
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fifth-page h1:before {
  content: "";
  background-color: var(--color-2);
  transform: rotate(90deg);
  height: 5rem;
  width: 0.5rem;
  position: absolute;
  right: -4rem;
}
.fifth-page h1:after {
  content: "";
  background-color: var(--color-2);
  transform: rotate(90deg);
  height: 5rem;
  width: 0.5rem;
  position: absolute;
  left: -4rem;
}

.contact-types {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
}
.contact-types p {
  text-decoration: dotted;
  text-decoration: underline;
  text-decoration-color: var(--color-2);
}
.text-area {
  color: white;
  font-size: 2rem;
  padding: 2rem;
  max-width: 73.2rem;
  min-width: 73.2rem;
  overflow: hidden;
  max-height: 30rem;
  min-height: 30rem;
  border: 1px solid var(--color-2);
  background-color: transparent;
}
.text-area:focus {
  outline: none;
}
.contact-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-container input {
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
  width: 34.3rem;
  background-color: transparent;
  border: 1px solid var(--color-2);
}
.text-container input:focus {
  outline: none;
}
.main-contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.submit {
  padding: 2rem 5rem;
  background-color: orange;
  border: none;
  cursor: pointer;
}

footer {
  height: 6rem;
  font-size: 1.5rem;
  background-color: var(--color-2);
  width: 192rem;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column-reverse;
  padding: 2rem 0rem;
  justify-content: space-between;
}

footer i {
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 2rem;
}
footer i:hover {
  color: black;
}

.load-icon {
  width: 3rem;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
